body {
    background-color: #F2EFE9;
    font-family: 'Arvo', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Truculenta', sans-serif;
    font-size: 25px;
}

h1 {
    margin: 100px;
    font-size: 100px;
}
h2{
    color: #45c4b0;
    margin: 100px;
    font-size: 50px;
}
div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;

}
img{
    object-fit: cover;
}
a{
    background-color: #DAFDBA;
    color: #000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 25px;

}
a:hover{
    background-color: #9AEBA3;
}
.blue {
    background-color: #BDE8E5;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.pink {
    background-color: #F9CFE7;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.yellow{
    background-color: #F6EE99;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

